body, .airport-details-page {
    margin: 0;
    font-family: 'great vibes', 'sans-serif';
    background-color: #F8F7F4;
}

.home-sentence {
    /* font-family: 'dancing script'; */
    font-size: 45px;
}

#app {
    text-align: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    /* background-size: cover; */
    background-color: #F8F7F4;
}

header {
    font-size: 4em;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'great vibes', 'sans-serif';
    color: rgb(255, 255, 255);
    background-color: #CA2446;
    /* width: 100%; */
    width: 100vw;
    height: 5%;
    text-align: center;
}

.airport-name {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.8em;
    color: white;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}

.login-button, .createaccount-button, .submit-account-button {
    background-color: #F8F7F4;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    color: black;
    top: 10px;
    right: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5em;
    height: 3em;
}

.login-button:hover, .createaccount-button:hover, .submit-account-button:hover {
    background-color: green;
    color: #F8F7F4;
    transform:scale(1.3); 
    text-decoration: underline;
}

.home-login {
    display: flex;
    font-size: 1.2em;
    height: 2em;
    width: 4em;
    background-color: #F8F7F4;
    border: 0;
    
}

.airport-dropdown {
    margin-top: 50px;
    margin-bottom: 100px;
}

.airport-select-home {
    height: 5vh;
    width: 38vw;
    font-size: 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7); /* Adjust the alpha value (0.7) for your desired opacity */
    color: #F8F7F4;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px; 
    width: 150px; 
    height: auto; 
}

@media(max-width: 1216px) {
    .logo {
        width: 128px;
    }
}

@media(max-width: 1175px) {
    header {
        font-size: 60px;
        padding: 50px 90px;
        text-align: left;
        padding-left: 120px;
    }
    
    #app {
        /* background-position: top 50% left 60%; */
        height: 100vh;
        width: 100vw;
    }

    .login-button, .createaccount-button {
        right: 40px;
        margin-right: 43px;
        }
    .logo {
        width: 103px;
    }
    }

    @media(max-width: 1175px) {
        #app {
            background-position: top 80% left 60%;
        }
    
    @media (max-width: 830px) {
        header {
            font-size: 60px;
            padding: 50px 90px;
            text-align: left;
            padding-left: 120px;
        }
        
        .login-button, .createaccount-button {
            width: 14vw;
            margin-left: auto; 
            text-align: center; 
            /* margin-right: 43px; */
            font-size: 13px;
        }

        .login-button {
            margin-right: 10px;  
        }
        .createaccount-button {
            margin-right: 43px;  
        }

        .home-sentence {
            font-size: 30px;
        }
    }
    
    @media (max-width: 631px) {
        .login-button, .createaccount-button {
            width: 15vw;
            margin-left: auto; 
            text-align: center; 
            font-size: 9px;
            margin-top: 1px
        }
    }

    @media (max-width: 430px) {
        header {
            font-size: 50px;
            padding: 50px 20px;
            text-align: left;
            padding-left: 120px;
        }
        /* .createaccount-button {
            margin-right: 196px;
            width: 14vw;
            font-size: 13px;
            right: 90px;
            top: 2px;
        } */
        .login-button, .createaccount-button {
            width: 16vw;
            text-align: center; 
            font-size: 8px;
            margin-top: 1px
        }
        #app {
            background-position: top 50% left 55%;
        }
    }
    @media (max-width: 365px) {
        .login-button, .createaccount-button {
            width: 17vw;
            text-align: center; 
            font-size: 6.5px;
            margin-top: 1px
        }
    }
    
} 

/* #app::before {
    content: ''; */
    /* background-image: url('/dewang-gupta-ESEnXckWlLY-unsplash.jpg'); check out this image and see if you like it better than a plain one  */
    /* position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671); 
    z-index: -1;  */
    /* opacity: .5; */
    /* background-position: bottom 80% left 20%; */